/*body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

p {
    margin: 10px 0px 10px 0px;
}
h3 {
    text-align: center;
    font: Bold 35px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
}

section {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-fluid {
    width:100%;
    margin-right:auto;
    margin-left:auto;
}

.row {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.col {
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -webkit-box-flex:1;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%
}

.col-3 {
    -webkit-box-flex:0;
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%
}

.col-6 {
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%
}



.container-fluid .row .col-6 img {
    box-shadow: 0px 9px 16px #00000029;
    border: 1px solid #D2D2D2;
    border-radius: 29px;
    width: 600px;
    height: 600px;
    float: right;
    margin: 0px 29px 70px 0px;
}

.container-fluid .row .col-6 .area-timer {
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #D5D5D5;
    border-radius: 29px;
    width: 60%;
    height: 280px;
}

.container-fluid .row .col-6 .area-timer .row .col h4 {
    text-align: center;
    font-size: 25px;
    color: #5B5B5B;
    text-transform: uppercase;
}

.container-fluid .row .col-6 .area-timer .row .col-3 p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #5B5B5B;
    text-transform: uppercase;
}

.container-fluid .row .col-6 .area-timer #timer .col-3 p {
    border: 1px solid #4e555b;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #5B5B5B;
    text-transform: uppercase;
}

.container-fluid .row .col-6 .area-timer .row .col p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #5B5B5B;
    text-transform: uppercase;
}

.container-fluid .row .col-6 .area-timer .row .col #info {.
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: normal;
    color: #D83434;
    opacity: 1;
}

.container-fluid .row .col-6 .area-timer .row .col-6 input {
    background: #FFFFFF no-repeat padding-box;
    padding: 15px 50px;
    border: 1px solid #707070;
    border-radius: 29px;
}

.container-fluid .row .col-6 .area-timer .row .col-6 button {
    background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    padding-right: 10px;
    padding: 5px 50px;
    border-radius: 29px;
}

.container-fluid .row .col-6 .area-timer .row .col #msg{
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    color: #57AA19;
}

#bottom-section {
    background: transparent linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}*/

*{
    margin: 0;
    padding:0;
}

body{
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

section{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.container-fluid{
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.caption-text {
    width: 825px;
    height: 92px;
    opacity: 1;
    text-align: center;
    margin: 0 auto;
}

.caption-text h1{
    font: normal normal bold 35px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    margin-bottom: 0;
}

.sample-img img{
width: 551px;
height: 550px;
box-shadow: 0px 9px 16px #00000029;
border: 1px solid #D2D2D2;
border-radius: 29px;
opacity: 1;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.timer-area{
    width:551px;
    height: 550px;
}

.timer-area > .end-time{
    width: 548px;
    height: 198px;
    border: 1px solid #D5D5D5;
    border-radius: 29px;
    opacity: 1;
}

.time-frame-status p{
    font: normal normal bold 23px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    text-transform: uppercase;
    opacity: 1;
}

.time-frame-status{
    text-align: center;
}

.time-slot{
    width: 83px;
    height: 114px;
    margin-right: 15px;
    margin-left: 15px;
}

.time-display{
    width: 83px;
    height: 83px;
    background: transparent linear-gradient(180deg, #A5E228 0%, #359200 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    margin-bottom: 10px;;
}    

.time-display span{
    font: normal normal 600 14px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    text-transform: uppercase;
    opacity: 1;
}

.time-frame{
    justify-content: center;
    text-align: center;
    display: flex;
} 

div .no{
    color: #FFFFFF;
    font: normal normal bold 35px/35px Open Sans;
    margin: 0 auto;
}

.bid-command{
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.bid-command .highlight-text h3{
    font: normal normal bold 28px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
}

.custom-text h3{
    font: normal normal normal 20px/35px Open Sans;
    letter-spacing: 0px;
    color: #D83434;
}

h3{
    padding-bottom: 0 !important;
}


.place-bid .bid-here input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    width: 265px;
    height: 58px;
    text-align: center;
   
}

.submit-btn button{
    width: 266px;
    height: 58px;
    background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
    text-align: center;
    color: #FFFFFF;
    font: normal normal bold 25px/35px Open Sans;
    border: none;
}

.bid-status p1{
    font: normal normal 600 16px/35px Open Sans;
    letter-spacing: 0px;
    color: #57AA19;
    opacity: 1;
    display: inline-block;
}

.bid-status .one{
    color: #57AA19;
    opacity: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* .bid-status p2{
    font: normal normal 600 16px/35px Open Sans;
    letter-spacing: 0px;
    color: #D83434;
    opacity: 1;
    display: inline-block;
}

.bid-status .two{
    color: #D83434;
    opacity: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.bid-status p3{
    font: normal normal 600 16px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
    display: inline-block;
}

.bid-status .three{
    color:  #5B5B5B;
    opacity: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.bid-status p4{
    font: normal normal 600 16px/35px Open Sans;
    letter-spacing: 0px;
    color: #F89C1C;
    opacity: 1;
    display: inline-block;
}

.bid-status .four{
    color: #F89C1C;
    opacity: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
} */

.bid-status p1,p2,p3,p4{
    margin-top: 5px;
    margin-bottom: 0px !important;
}

.bg-color{
    background: transparent linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.past-cmptn{
    width: 678px;
    height: 287px;
    background: #5B5B5B 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 6px #00000008;
    border-radius: 22px;
    opacity: 1;
}

.upcoming-cmptn{
    width: 678px;
    height: 287px;
    background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 6px #00000008;
    border-radius: 22px;
    opacity: 1;
}

.center-text h1{
    font: normal normal 600 25px/25px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    opacity: 1;
}

.content img{
    width: 241px;
    height: 238px;
    border-radius: 22px;
    opacity: 1;
    margin-right: 15px;
    float: left;
} 

.win-status{
    float: left;
    width: 349px;
    height: 73px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 37px;
    opacity: 1;
}

.win-bid small{
    float: left;
    font: normal normal bold 25px/45px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.win-bid span{
    font: normal normal 25px/45px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    float: left
}

.win-status small{
    font: normal normal bold 25px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
}

.win-bid{
    width: 356px;
    height: 42px;
    
}

.start-time span{
    font: normal normal 300 25px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
}

.winner button{
    width: 266px;
    height: 58px;
    background: transparent linear-gradient(180deg, #A5E228 0%, #359200 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 37px;
    border: none;
}

.winner small{   
    font: normal normal bold 25px/35px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.upcoming-time-slot{
    width: 61px;
    height: 84px;
    margin-right: 5px;
    margin-left: 5px;
}

.upcoming-time-display{
    width: 61px;
    height: 61px;
    background: #231F20 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}    

.upcoming-time-slot span{
    font: normal normal 600 10px/25px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.upcoming-time-frame{
    justify-content: center;
    text-align: center;
    display: flex;
} 

.upcoming-time-display .no{
    color: #FFFFFF;
    font: normal normal bold 25px/25px Open Sans;
    margin: 0 auto;
}

.winner-text h1{
    text-align: center;
    font: normal normal bold 35px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    opacity: 1;
}

.winner-frame{
    width: 938px;
    height: 390px;
    background: transparent linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    opacity: 1;
    border-radius: 29px;
}

.won-item-img img{
    width: 260px;
    height: 254px;
    border-radius: 22px;
}

.item-name h3{
    font: normal normal bold 20px/25px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
}

.winner-img img{
    width: 357px;
    height: 330px;
    border-radius: 24px;
    opacity: 1;
    position: relative;
}

.winner-mark img{
    width: 194px;
    height: 193px;
    margin: 10px 35px;
}

.won-bid{
width: 270px;
height: 30px;
text-align: center;
opacity: 1;
float: left;
}

.won-bid h3{
font: normal normal bold 20px/41px Open Sans;
letter-spacing: 0px;
color: #41D126;
text-transform: uppercase;
}

.won-date{
    width: 271px;
    height: 35px;
    float: left;
}

.won-date span{
color: #5B5B5B;
font: normal normal normal 13px/41px Open Sans;
}

.submit-btn button:disabled {
    background: transparent linear-gradient(180deg, #989895 0%, #bfbdb9 100%) 0% 0% no-repeat padding-box;
    pointer-events: none;
 }

 .submit-btn button:hover {
    background: transparent linear-gradient(180deg, #fdd311 0%, #f96f38 100%) 0% 0% no-repeat padding-box;
    cursor: pointer;
 }

 footer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
 }

.terms{
    width: 675px;
    height: 150px;
    margin-left: 215px;
    margin-right: 215px;
    text-align: center;
}

.terms-align{
    width: 580px;
    height: 35px;
}

.terms-align span{
    font: normal normal normal 19px/34px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
}

.social-icons img{
    margin-top: 50px;
    width: 137px;
    height: 34px;
}

.contact{
    width: 368px;
    height: 80px;
}

.payments{
    width: 248px;
    height: 80px;
    float: right; 
}

.contact a{
    text-decoration: none;
    color: #5B5B5B;

}

.contact a:hover{
     color:  #D83434;
}

.contact span{
    font: normal normal normal 16px/34px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
}

.visacard img{
    width: 68px;
    height: 21px;
}

.mastercard img{ 
    width: 51px;
    height: 31px;
}

.payments span{
    font: normal normal normal 16px/34px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
    padding-left: 42px;;
}

footer{
    width: 100%;
    min-height: 330px;
    height: auto;
}


@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media (min-width: 1200px){
.container {
    width: 1170px;
}
}

@media (min-width: 992px){
section{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}
}   
