
*{
    margin: 0;
    padding:0;
}

body{
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

section{
    width: 100%;
    padding-bottom: 150px;
}

.container-fluid{
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;

}


.caption-text {
    /*width: 825px;
    height: 92px;*/
    opacity: 1;
    text-align: center;
    margin: 0 auto;
}

.caption-text h1{
    font: normal normal bold 35px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    margin-bottom: 0;
}

.sample-img img{
box-shadow: 0px 9px 16px #00000029;
border: 1px solid #D2D2D2;
border-radius: 29px;
opacity: 1;
text-align: center;
}

.img-fluid{
    width: 100%;
    height: auto;
}


.timer-area > .end-time{
    border: 1px solid #D5D5D5;
    border-radius: 29px;
    opacity: 1;
}

.time-frame-status p{
    font: normal normal bold 23px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    text-transform: uppercase;
    opacity: 1;
}

.time-frame-status{
    text-align: center;
}

.time-slot{
    margin-right: 10px;
    margin-left: 10px;
}

.time-display{
    width: 83px;
    height: 83px;
    background: transparent linear-gradient(180deg, #A5E228 0%, #359200 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    margin-bottom: 10px;;
}    

.time-display span{
    font: normal normal 600 14px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    text-transform: uppercase;
    opacity: 1;
}

.time-frame{
    justify-content: center;
    text-align: center;
    display: flex;
} 

div .no{
    color: #FFFFFF;
    font: normal normal bold 35px/35px Open Sans;
    margin: 0 auto;
}

.bid-command{
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.bid-command .highlight-text h3{
    font: normal normal bold 28px/35px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
}

.custom-text h3{
    font: normal normal normal 20px/35px Open Sans;
    letter-spacing: 0px;
    color: #D83434;
}

h3{
    padding-bottom: 0 !important;
}


.place-bid .bid-here input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 29px;
    opacity: 1;
    padding: 15px 50px;
    text-align: center;
   
}


.place-bid{
    display: inline-flex;
}

.submit-btn button{
    padding: 10px 80px;
    background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
    text-align: center;
    color: #FFFFFF;
    font: normal normal bold 20px/35px Open Sans;
    border: none;
}

.submit-btn{
    margin-left: 10px;
}

.bis-status{
    display: inline-block;
}


.bid-status p1,p2,p3,p4{
    font: normal normal 600 16px/35px Open Sans;
    letter-spacing: 0px;
    color: #57AA19;
    opacity: 1;
    display: inline-block;
}

.bid-status .one, .two, .three, .four{
    color: #57AA19;
    opacity: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
}


.bid-status p1,p2,p3,p4{
    margin-top: 5px;
    margin-bottom: 0px !important;
}



.submit-btn button:disabled {
    background: transparent linear-gradient(180deg, #989895 0%, #bfbdb9 100%) 0% 0% no-repeat padding-box;
    pointer-events: none;
 }

 .submit-btn button:hover {
    background: transparent linear-gradient(180deg, #fdd311 0%, #f96f38 100%) 0% 0% no-repeat padding-box;
    cursor: pointer;
 }

  




    .cmptn-heading h1{
        font: normal normal 600 25px/25px Open Sans;
        letter-spacing: 0px;
        color: #231F20;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }

    .past-cmptn{
        background: #5B5B5B 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 6px #00000008;
        border-radius: 22px;
        opacity: 1;
    }

    .cmptn-sample-img img{
        border-radius: 22px;
         
    }

    .img-fluid{
        width: 100%;
        height: auto;
    }
    .upcoming-cmptn{
        background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 6px #00000008;
        border-radius: 22px;
        opacity: 1;
    }

    .past-cmptn-item{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 37px;
        text-align: center;

    }

    .past-cmptn-item h3{
        font: normal normal bold 25px/45px Open Sans;
        letter-spacing: 0px;
        color: #231F20;
        opacity: 1;
    }

    .winning-bid{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
       
    }

    .winning-bid span{
        color: #FFFFFF;
        font: normal normal 300 25px/45px Open Sans;
    }

    .winning-bid small{
        font: normal normal bold 25px/45px Open Sans;
        color: #FFFFFF;
    }

    .winner-tag{
        background: transparent linear-gradient(180deg, #A5E228 0%, #359200 100%) 0% 0% no-repeat padding-box;
        border-radius: 37px;
        text-align: center;
        padding: 5px;

    }

    .winner-tag h3{
    font: normal normal bold 25px/35px Open Sans;
    color: #FFFFFF;
    }

    .cmptn-start-time{
        font: normal normal 300 23px/28px Open Sans;
        color: #231F20;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .upcoming-time-slot{
        
        margin-right: 2px;
        margin-left: 2px;
    }
    
    .upcoming-time-display{
        width: 50px;
        background: #231F20 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 50%;
    }    
    
    .upcoming-time-slot span{
        font: normal normal 600 10px/25px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }
    
    .upcoming-time-frame{
        justify-content: center;
        text-align: center;
        display: flex;
        margin-top: 30px;
       
    } 
    
    .upcoming-time-display .no{
        color: #FFFFFF;
        font: normal normal bold 23px/20px Open Sans;
        margin: 0 auto;
    }



   
@media (min-width: 768px){
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    }
    
    @media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    }
    
    @media (min-width: 992px){
    section{
        width: 100%;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    }
    
    @media (max-width:992px) and (min-width:768px) {
        .time-slot{
            margin-right: 2px;
            margin-left: 2px;
        }
    
        .time-display {
            width: 65px;
            height: 65px;
        }
    
        .bid-command .highlight-text h3 {
            font: normal normal bold 23px/35px Open Sans;
        }
        
        div .no {
            font: normal normal bold 30px/20px Open Sans;
           
        }
    
        .caption-text h1 {
            font: normal normal bold 30px/45px Open Sans;
        }
    
        .place-bid .bid-here input{
            padding: 10px 5px;
        }
    
        .submit-btn button{
            padding: 10px 25px;
            font: normal normal bold 23px/25px Open Sans;
        }
    
    
        .upcoming-cmptn-text{
            width: 0;
            height: 0;
        }   
    }
    
    
    @media (max-width:767px) and (min-width: 320px){
        .time-display{
            width: 65px;
            height: 65px;
            
        }  
    
        div .no {
            
            font: normal normal bold 30px/25px Open Sans;
        }    
        
        .time-slot{
            margin-right: 2px;
            margin-left: 2px;
        }
    
        
    
         .caption-text h1, .bid-command .highlight-text h3, .bid-command .highlight-text h3 {
            font: normal normal bold 19px/25px Open Sans;
           
        }
    
        .past-cmptn-item{
            margin-top: 30px;
        }
    
    }
    





    @media (max-width:576px) and (min-width: 325px){


        .upcoming-time-display {
            height: 60px; 
             width: 60px;

    }

    .upcoming-time-frame {
        margin-top: 0px;
}


.cmptn-heading{
    margin-top: 30px;
}
    }


    @media (max-width:1200px) and (min-width: 992px){
        .submit-btn button{
            padding: 7px 50px;
        }
    
        .place-bid .bid-here input{
            padding: 10px 5px;
        }
    }




@media (max-width: 768px){
.col-md-7 {
    max-width: none;
    margin: 0 auto;
}

.col-md-5 {
    flex: none;
    max-width:none;
}


.col-md-4 {
    flex: none;
    max-width:none;
}

.col-md-3{
    flex: none;
    max-width:none;
}

.timer-area{
    margin-top: 20px;
}
    }
    


    @media (max-width: 1200px) and (min-width: 768px){
        .upcoming-time-slot{
            margin: 0;
        }

        .cmptn-start-time {
            font: normal normal 300 18px/10px Open Sans;
            margin-top: 0px; 
            margin-bottom: 0px;
            margin: 20px 0;
    }

    .upcoming-time-display {
        width: 45px;
    }

    .upcoming-time-frame {
        margin-top: 0px;
    }

    .winning-bid span {
        color: #FFFFFF;
        font: normal normal 300 19px/23px Open Sans;
    }

    .past-cmptn-item h3 {
        font: normal normal bold 22px/45px Open Sans;
    }
    .past-cmptn-item{
        margin: 0 !important;
    }

    .upcoming-time-display .no {
        font: normal normal bold 20px/16px Open Sans;
    }
 
    .winning-bid{
        margin-top: 15px;
        margin-bottom: 15px;
       
    }
    .winner-tag{
        margin: 0px;
        padding: 2px;
    }


    .winner-tag h3 {
        font: normal normal bold 21px/25px Open Sans;
    
    }
    }

    @media (max-width: 767px) and (min-width: 481px){
        .place-bid .bid-here input{
            padding: 15px 30px;
        }

        .submit-btn button{
            padding: 10px 70px;
        }
    }

        @media (max-width: 768px) and (min-width: 575px){
            .past-cmptn-item{
                margin-left: 0;
                margin-right: 0;
            }
        }

        @media (max-width: 480px){
            .place-bid{
                display: block;
                justify-content: center;
                text-align: center;
               
            }

            

            .submit-btn button{
                margin-top: 20px;
                margin-left: 0 !important;
               
        
            }
        }

      


    


    






