footer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
 }

.terms{
    margin-left: 215px;
    text-align: center;
    margin-right: 215px;
}

.terms-align span a{
    text-decoration: none;
    color: #5B5B5B !important;
}

.terms-align span a:hover{
    color:  #D83434 !important;   
}




.terms-align span{
    font: normal normal normal 19px/34px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
}

.social-icons i{
    font-size: 30px;
    color: #5B5B5B;
    
}


.payments{
   
    float: right;
    padding-left: 120px;
}

.contact a{
    text-decoration: none;
    color: #5B5B5B;

}

.contact a:hover{
     color:  #D83434;
}

.contact span{
    font: normal normal normal 16px/34px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
}

.visacard img{
    width: 68px;
    height: 21px;
}

.mastercard img{ 
    width: 51px;
    height: 31px;
}

.payments span{
    font: normal normal normal 16px/34px Open Sans;
    letter-spacing: 0px;
    color: #5B5B5B;
    opacity: 1;
    padding-left: 42px;
}

footer{
    width: 100%;
    min-height: 330px;
    height: auto;
}


@media (max-width: 576px){
    
}

    

    @media (max-width:992px) and (min-width: 575px){
        .terms{
            margin: 0 !important;
        }

        .payments span{
            padding: 0;
        }

        .contact .payments{
            margin-top: 5px;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
            margin-top: 20px;
        }
    }

    @media (max-width: 575px) and (min-width: 53px){
        .terms{
            margin-left: 0;
            margin-right: 0;
            padding: 0;
        }

        .contact{
            margin-top: 20px;
            text-align: center;
        }


        .terms{
            margin-left: 0;
            margin-right: 0;
        }
    
       
        .payments {
    
            float: none !important;
            margin-top: 50px;
            padding-left: 0;
            text-align: center;
        }

        .payments span{
            padding-left:  0;
        }
    }


    



