/*.winner-text h1{
    text-align: center;
    font: normal normal bold 35px/45px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    opacity: 1;
}

.winner-frame{
    width: 938px;
    height: 390px;
    background: transparent linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    opacity: 1;
    border-radius: 29px;
}

.won-item-img img{
    width: 260px;
    height: 254px;
    border-radius: 22px;
}

.item-name h3{
    font: normal normal bold 20px/25px Open Sans;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
}

.winner-img img{
    width: 357px;
    height: 330px;
    border-radius: 24px;
    opacity: 1;
}

.winner-mark img{
    width: 184px;
    height: 183px;
    margin: 10px 35px;
}

.won-bid{
width: 270px;
height: 30px;
text-align: center;
opacity: 1;
float: left;
}

.won-bid h3{
font: normal normal bold 20px/41px Open Sans;
letter-spacing: 0px;
color: #41D126;
text-transform: uppercase;
}

.won-date{
    width: 271px;
    height: 35px;
    float: left;
}

.won-date span{
color: #5B5B5B;
font: normal normal normal 13px/41px Open Sans;
}

.winner-name{
    float: right;
    width: 276px;
    height: 52px;
    background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 10px #00000017;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
    opacity: 1; 
    margin-top: -85px;
    margin-right: 50px;
}

.winner-name h3{
    width: 276px;
    height: 52px;
    font: normal normal bold 18px/41px Open Sans;
    color: #231F20;
    text-transform: uppercase;
    text-align: center;   
}


.winner-place{
    float: right;
    width: 107px;
    height: 27px; 
    background: transparent linear-gradient(180deg, #A5E228 0%, #359200 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 17px #00000063;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 1;
    margin-top: -40px;
    margin-right: 200px;

    }

.winner-place h3{
    width: 107px;
    height: 27px; 
    font: normal normal bold 12px/18px Open Sans;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;   
    }*/
    .winners-heading h1{
        text-align: center;
        font: normal normal bold 35px/45px Open Sans;
        letter-spacing: 0px;
        color: #231F20;
        text-transform: uppercase;
        opacity: 1;
    }
    
    .winner-item-img h3{
        text-align: center;
        font: normal normal bold 20px/25px Open Sans;
        color: #231F20;
    
    }
    
    .winners-container{
    background: transparent linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    border-radius: 27px;
    }
    
    .winner-item-img img{
        border-radius: 27px;
        
    }
    
    .win-bid h3{
        text-align: center;
        font: normal normal bold 20px/41px Open Sans;
        letter-spacing: 0px;
        color: #41D126;
        text-transform: uppercase;
    }
    
    .win-date small{
        font: normal normal normal 13px/41px Open Sans;
        letter-spacing: 0px;
        color: #5B5B5B;

    }
    
    .winner-name{
        background: transparent linear-gradient(180deg, #FDD311 0%, #F89C1C 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 7px 10px #00000017;
        border: 1px solid #FFFFFF;
        border-radius: 28px;
        opacity: 1;
        margin-left: -80px;
        text-align: center;
    }
    
    .winner-name h3{
        font: normal normal bold 18px/41px Open Sans;
        letter-spacing: 0px;
        color: #231F20;
        text-transform: uppercase;
    }


.winner-place{
    background: transparent linear-gradient(180deg, #A5E228 0%, #359200 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 17px #00000063;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin-left: -50px;
    margin-top: -10px;
    padding: 3px 6px !important;
    width: 107px;
    height: 27px;
   
    
    
}

.winner-place h3{
    text-align:center;
    font: normal normal bold 12px/18px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media (max-width: 1200px) and (min-width: 768px){

    .winner-name{
        width: 276px;
        height: 52px;
    }

    .win-bid{
        width: 190px;
    height: 22px;
}



.win-bid h3 {
    text-align: center;
    font: normal normal bold 16px/41px Open Sans;
}

.winner-name h3 {
        font: normal normal bold 14px/45px Open Sans;
}
}


@media (max-width: 991px) and (min-width: 768px){

    

}  


@media (max-width: 767px) and (min-width: 376px){
    .winner-place{
        margin-left: 0px;
        margin-top: 10px;
        padding: 3px 6px !important;
        width: 107px;
        height: 27px;
        } 

        .winner-name{
            margin-left: 0px;
        }
    }

    
    
    
    
       